- columna "Age"- se mezclan las cifras en letras 
y números. Sin embargo, no lo da como nulo. Unificar en números.

-columna "Gender", no hay nulos, unificar

-columna 'MaritalStatus', muchos nulos, 651, sugiero quitarla

-columna "Numberchildren"- está totalmente vacía. quitarla

-columna "DateBirth", no hay nulos. Utilizarla como única columna referida a edad.

-Columna "Over18", 901 nulos. Borrarla. Si la necesitamos se puede calcular con la columna anterior

-Columna "Education". numérica de 1 a 5.
Buscar la equivalencia. No hay nulos

-Columna "EducationField". 745 nulos

-Columna NUMCOMPANIESWORKED'
cambiar nombre. No hay nulos

-Columna TOTALWORKINGYEARS
cambiar nombre. Es un float, pero solo tiene números enteros. 526 nulos.