In [ ]:
import pandas as pd

pd.set_option('display.max_columns', None)

In [ ]:
df_exploracion = pd.read_csv('../files/HR_RAW_DATA.csv', index_col=0)

In [ ]:
lista_columnas_explorar = ['Age', 'Gender','MaritalStatus', 'NUMBERCHILDREN','DateBirth', 'Over18', 'Education','EducationField', 'NUMCOMPANIESWORKED', 'TOTALWORKINGYEARS']

In [ ]:
df_exploracion.loc[:,lista_columnas_explorar]

In [ ]:
#limpieza columna "Age"
diccionario_edades = {
    'forty-seven':47,
    'fifty-eight': 58,
    'thirty-six': 36,
    'fifty-five': 55, 
    'fifty-two': 52,
    'thirty-one': 31,
    'thirty': 30,
    'twenty-six': 26, 
    'thirty-seven' : 37, 
    'thirty-two': 32,
    'twenty-four' : 24
    }                   

df_exploracion["Age"] = df_exploracion["Age"].replace(diccionario_edades)
df_exploracion["Age"].unique()

In [ ]:
# limpieza columna "Gender"
# .replace para sustituir 0 / 1 por Male / Female

df_exploracion["Gender"].replace(to_replace=[0,1],value= ["Male","Female"],inplace=True)
df_exploracion["Gender"]

In [ ]:
# limpieza columna 'MaritalStatus'
# unificar términos y limpiar erratas

df_exploracion['MaritalStatus'].replace(to_replace=['Marreid','divorced'],value= ['Married','Divorced'],inplace=True)

In [ ]:
# columna 'NUMBERCHILDREN'
# candidata a desaparecer, totalmente vacía

In [ ]:
# columna 'DateBirth'
# totalmente correcta

In [ ]:
# columna 'Over18'
# candidata a desaparecer, redundante. Solo tiene Y y nan

In [ ]:
# columna 'Education'está limpia, es una clasificación de 1 a 5. No hay ningún tipo de estándar 

#df_exploracion['Education'].unique()

In [ ]:
# columna 'EducationField' está limpia. Ojo, 745 nulos

#df_exploracion['EducationField'].value_counts()
#df_exploracion['EducationField'].isnull().sum()

In [ ]:
#'NUMCOMPANIESWORKED' limpia, sin nulos
#df_exploracion['NUMCOMPANIESWORKED'].isnull().sum()
#df_exploracion['NUMCOMPANIESWORKED'].value_counts()