In [4]:
import pandas as pd

pd.set_option('display.max_columns', None)

In [5]:
df_exploracion = pd.read_csv('../files/HR_RAW_DATA.csv', index_col=0)

In [3]:
lista_columnas_explorar = ['Age', 'Gender','MaritalStatus', 'NUMBERCHILDREN','DateBirth', 'Over18', 'Education','EducationField', 'NUMCOMPANIESWORKED', 'TOTALWORKINGYEARS']

In [4]:
df_exploracion.loc[:,lista_columnas_explorar]

df_exploracion_employees = df_exploracion.loc[:,lista_columnas_explorar]

In [7]:
#limpieza columna "Age"
diccionario_edades = {
    'forty-seven':47,
    'fifty-eight': 58,
    'thirty-six': 36,
    'fifty-five': 55, 
    'fifty-two': 52,
    'thirty-one': 31,
    'thirty': 30,
    'twenty-six': 26, 
    'thirty-seven' : 37, 
    'thirty-two': 32,
    'twenty-four' : 24
    }                   

df_exploracion["Age"] = df_exploracion["Age"].replace(diccionario_edades)
df_exploracion["Age"].unique()

object

In [9]:
#convertir a integrer
print(df_exploracion["Age"].dtypes)

df_exploracion["Age"] = df_exploracion["Age"].astype('Int64', errors="ignore")

int64

In [ ]:
# limpieza columna "Gender"
# .replace para sustituir 0 / 1 por Male / Female

df_exploracion["Gender"].replace(to_replace=[0,1],value= ["Male","Female"],inplace=True)
df_exploracion["Gender"]

In [16]:
# limpieza columna 'MaritalStatus'
# unificar términos y limpiar erratas

df_exploracion['MaritalStatus'].replace(to_replace=['Marreid','divorced'],value= ['Married','Divorced'],inplace=True)

In [ ]:
# columna 'NUMBERCHILDREN'
# candidata a desaparecer, totalmente vacía

In [18]:
# columna 'DateBirth'
# totalmente correcta

# convertir a integrer
df_exploracion["DateBirth"] = df_exploracion["DateBirth"].astype('Int64', errors="ignore")
print(df_exploracion["DateBirth"].dtypes)

Int64

In [ ]:
# columna 'Over18'
# candidata a desaparecer, redundante. Solo tiene Y y nan

In [ ]:
# columna 'Education'está limpia, es una clasificación de 1 a 5. No hay ningún tipo de estándar 

#df_exploracion['Education'].unique()

In [ ]:
# columna 'EducationField' está limpia. Ojo, 745 nulos

#df_exploracion['EducationField'].value_counts()
#df_exploracion['EducationField'].isnull().sum()

In [19]:
#'NUMCOMPANIESWORKED' limpia, sin nulos
#df_exploracion['NUMCOMPANIESWORKED'].isnull().sum()
#df_exploracion['NUMCOMPANIESWORKED'].value_counts()

print(df_exploracion["NUMCOMPANIESWORKED"].dtypes)

int64

In [13]:
df_exploracion_employees = df_exploracion.loc[:,lista_columnas_explorar]
print(df_exploracion_employees)

      Age  Gender MaritalStatus  NUMBERCHILDREN  DateBirth Over18  Education  \
0      51       0           NaN             NaN       1972      Y          3
1      52       0           NaN             NaN       1971    NaN          4
2      42       0       Married             NaN       1981    NaN          2
3      47       1       Married             NaN       1976      Y          4
4      46       1      Divorced             NaN       1977      Y          3
...   ...     ...           ...             ...        ...    ...        ...
1609   36       0       Married             NaN       1987      Y          1
1610   45       0           NaN             NaN       1978    NaN          2
1611   39       0        Single             NaN       1984    NaN          5
1612   36       0      Divorced             NaN       1987    NaN          4
1613   46       0           NaN             NaN       1977      Y          2

        EducationField  NUMCOMPANIESWORKED TOTALWORKINGYEARS
0                  NaN                   7               NaN
1        Life Sciences                   0              34,0
2     Technical Degree                   1              22,0
3              Medical                   3               NaN
4     Technical Degree                   2               NaN
...                ...                 ...               ...
1609     Life Sciences                   1               NaN
1610               NaN                   1               NaN
1611               NaN                   0               9,0
1612  Technical Degree                   4              12,0
1613           Medical                   6               NaN

[1614 rows x 10 columns]

In [21]:
#aplicar todos los cambios a este, y transformar en csv al final, con ruta ../../files/salarydetails_w_floats.csv

df_exploracion_employees.to_csv("../files/df_exploracion_employees.csv")