In [97]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [98]:
data = pd.read_csv ('../files/HR_RAW_DATA.csv', index_col = 0)

In [99]:
data.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'employeecount',
       'employeenumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NUMCOMPANIESWORKED',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TOTALWORKINGYEARS', 'TrainingTimesLastYear', 'WORKLIFEBALANCE',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YEARSWITHCURRMANAGER', 'SameAsMonthlyIncome', 'DateBirth', 'Salary',
       'RoleDepartament', 'NUMBERCHILDREN', 'RemoteWork'],
      dtype='object')

In [100]:
# No se ha incluido la columna 'SameAsMonthlyIncome' ya que es exactamente igual a MonthlyIncome
salary_details = data.loc[: , ['employeenumber' , 'DailyRate', 'HourlyRate' , 'MonthlyRate' , 'MonthlyIncome' , 'PercentSalaryHike' , 'StockOptionLevel']]

### Revisar duplicados:

In [101]:
# Asigna a una variable aquellas filas de la columna employeenumber que no son null
employee_numbers_notnull = salary_details.loc[salary_details['employeenumber'].notnull() , 'employeenumber']

# Revisa si existen duplicados en los n√∫meros de empleado que no son null
total_duplicados_ID = employee_numbers_notnull.duplicated().sum()
print(f"Hay {total_duplicados_ID} duplicados")

# Calcula el % de duplicados que hay en los employeenumber que no son null

print(f"El porcentaje respecto al total de IDs no nulas es: {round(total_duplicados_ID/len(employee_numbers_notnull)*100 , 2)}")

Hay 104 duplicados
El porcentaje respecto al total de IDs no nulas es: 8.79

In [102]:
# Itera por cada dato y su respectivo booleano
for dato, bool in zip(employee_numbers_notnull , employee_numbers_notnull.duplicated()):
    
    # Si el booleano es True (el dato es un duplicado) imprime la informaci√≥n
    if bool is True:
        print(f"----- Revisando empleado num {dato} -----")
        print(f"{data.loc[data['employeenumber'] == f'{dato}' , :].to_string(index=False)}\n")  # El apartado "to_string" ayuda a mejorar la visualizaci√≥n del output, ya que convierte el DataFrame de pandas en una representaci√≥n de cadena de texto formateada
        
# NOTA IMPORTANTE: Los empleados coinciden en todo menos algunos en en Remote Work

----- Revisando empleado num 1541,0 -----
Age Attrition BusinessTravel DailyRate Department  DistanceFromHome  Education   EducationField  employeecount employeenumber  EnvironmentSatisfaction  Gender HourlyRate  JobInvolvement  JobLevel                JobRole  JobSatisfaction MaritalStatus MonthlyIncome  MonthlyRate  NUMCOMPANIESWORKED Over18 OverTime  PercentSalaryHike PerformanceRating  RelationshipSatisfaction StandardHours  StockOptionLevel TOTALWORKINGYEARS  TrainingTimesLastYear WORKLIFEBALANCE  YearsAtCompany YearsInCurrentRole  YearsSinceLastPromotion  YEARSWITHCURRMANAGER SameAsMonthlyIncome  DateBirth      Salary RoleDepartament  NUMBERCHILDREN RemoteWork
 34        No  travel_rarely   1440,0$        NaN                 7          2 Technical Degree              1         1541,0                        2       0         55               3         1  SaLes rEPREsENtAtivE                 3           NaN        2308,0         4944                   0    NaN      Yes                 25               4,0                         2           NaN                 1              12,0                      4             3,0              11                NaN                        5                     7              2308,0       1989 1000000000$             NaN             NaN          0
 34        No  travel_rarely   1440,0$        NaN                 7          2 Technical Degree              1         1541,0                        2       0         55               3         1  saLeS RePreseNTAtIve                 3           NaN        2308,0         4944                   0    NaN      Yes                 25               4,0                         2           NaN                 1              12,0                      4             3,0              11                NaN                        5                     7              2308,0       1989 1000000000$             NaN             NaN          1

----- Revisando empleado num 1947,0 -----
Age Attrition BusinessTravel DailyRate Department  DistanceFromHome  Education EducationField  employeecount employeenumber  EnvironmentSatisfaction  Gender HourlyRate  JobInvolvement  JobLevel              JobRole  JobSatisfaction MaritalStatus MonthlyIncome  MonthlyRate  NUMCOMPANIESWORKED Over18 OverTime  PercentSalaryHike PerformanceRating  RelationshipSatisfaction StandardHours  StockOptionLevel TOTALWORKINGYEARS  TrainingTimesLastYear WORKLIFEBALANCE  YearsAtCompany YearsInCurrentRole  YearsSinceLastPromotion  YEARSWITHCURRMANAGER SameAsMonthlyIncome  DateBirth      Salary RoleDepartament  NUMBERCHILDREN RemoteWork
 28        No     non-travel   1103,0$        NaN                16          3        Medical              1         1947,0                        3       0         49               3         1  reSeArch sCieNTiSt                 3        Single        2144,0         2122                   1    NaN       No                 14               3,0                         3           NaN                 0               5,0                      3             2,0               5                NaN                        1                     4              2144,0       1995 1000000000$             NaN             NaN        Yes
 28        No     non-travel   1103,0$        NaN                16          3        Medical              1         1947,0                        3       0         49               3         1  ReSearCH ScIEntISt                 3        Single        2144,0         2122                   1    NaN       No                 14               3,0                         3           NaN                 0               5,0                      3             2,0               5                NaN                        1                     4              2144,0       1995 1000000000$             NaN             NaN      False

----- Revisando empleado num 1954,0 -----
Age Attrition BusinessTravel DailyRate Department  DistanceFromHome  Education EducationField  employeecount employeenumber  EnvironmentSatisfaction  Gender HourlyRate  JobInvolvement  JobLevel                     JobRole  JobSatisfaction MaritalStatus MonthlyIncome  MonthlyRate  NUMCOMPANIESWORKED Over18 OverTime  PercentSalaryHike PerformanceRating  RelationshipSatisfaction StandardHours  StockOptionLevel TOTALWORKINGYEARS  TrainingTimesLastYear WORKLIFEBALANCE  YearsAtCompany YearsInCurrentRole  YearsSinceLastPromotion  YEARSWITHCURRMANAGER SameAsMonthlyIncome  DateBirth      Salary RoleDepartament  NUMBERCHILDREN RemoteWork
 29        No            NaN    136,0$        NaN                 1          3  Life Sciences              1         1954,0                        1       0         89               3         2  HeALthcarE RepReseNtatIVe                 1       Married        5373,0         6225                   0      Y       No                 12               3,0                         1           NaN                 1               6,0                      5             2,0               5                NaN                        0                     2              5373,0       1994 1000000000$             NaN             NaN      False
 29        No            NaN    136,0$        NaN                 1          3  Life Sciences              1         1954,0                        1       0         89               3         2  HeALTHcare repREsEnTAtivE                 1       Married        5373,0         6225                   0      Y       No                 12               3,0                         1           NaN                 1               6,0                      5             2,0               5                NaN                        0                     2              5373,0       1994 1000000000$             NaN             NaN          0

----- Revisando empleado num 307,0 -----
Age Attrition BusinessTravel DailyRate Department  DistanceFromHome  Education EducationField  employeecount employeenumber  EnvironmentSatisfaction  Gender HourlyRate  JobInvolvement  JobLevel           JobRole  JobSatisfaction MaritalStatus MonthlyIncome  MonthlyRate  NUMCOMPANIESWORKED Over18 OverTime  PercentSalaryHike PerformanceRating  RelationshipSatisfaction StandardHours  StockOptionLevel TOTALWORKINGYEARS  TrainingTimesLastYear WORKLIFEBALANCE  YearsAtCompany YearsInCurrentRole  YearsSinceLastPromotion  YEARSWITHCURRMANAGER SameAsMonthlyIncome  DateBirth      Salary RoleDepartament  NUMBERCHILDREN RemoteWork
 38        No            NaN    119,0$        NaN                 3          3  Life Sciences              1          307,0                        1       0         76               3         3  Sales exECuTIVE                 3      Divorced           NaN         9647                   0      Y      NaN                 12               3,0                         3           NaN                 2               NaN                      6             2,0              16                NaN                        5                    13                 NaN       1985 1000000000$             NaN             NaN          1
 38        No            NaN    119,0$        NaN                 3          3  Life Sciences              1          307,0                        1       0         76               3         3  SAleS EXeCuTive                 3      Divorced           NaN         9647                   0      Y      NaN                 12               3,0                         3           NaN                 2               NaN                      6             2,0              16                NaN                        5                    13                 NaN       1985 1000000000$             NaN             NaN        Yes

----- Revisando empleado num 374,0 -----
Age Attrition BusinessTravel DailyRate Department  DistanceFromHome  Education EducationField  employeecount employeenumber  EnvironmentSatisfaction  Gender HourlyRate  JobInvolvement  JobLevel   JobRole  JobSatisfaction MaritalStatus MonthlyIncome  MonthlyRate  NUMCOMPANIESWORKED Over18 OverTime  PercentSalaryHike PerformanceRating  RelationshipSatisfaction StandardHours  StockOptionLevel TOTALWORKINGYEARS  TrainingTimesLastYear WORKLIFEBALANCE  YearsAtCompany YearsInCurrentRole  YearsSinceLastPromotion  YEARSWITHCURRMANAGER SameAsMonthlyIncome  DateBirth      Salary RoleDepartament  NUMBERCHILDREN RemoteWork
 55        No  travel_rarely    452,0$        NaN                 1          3        Medical              1          374,0                        4       0         81               3         5  manAger                 1        Single       19045,0        18938                   0      Y      NaN                 14               3,0                         3           NaN                 0              37,0                      2             3,0              36                NaN                        4                    13             19045,0       1968 1000000000$             NaN             NaN          1
 55        No  travel_rarely    452,0$        NaN                 1          3        Medical              1          374,0                        4       0         81               3         5  MaNAger                 1        Single       19045,0        18938                   0      Y      NaN                 14               3,0                         3           NaN                 0              37,0                      2             3,0              36                NaN                        4                    13             19045,0       1968 1000000000$             NaN             NaN        Yes

----- Revisando empleado num 524,0 -----
Age Attrition BusinessTravel DailyRate Department  DistanceFromHome  Education EducationField  employeecount employeenumber  EnvironmentSatisfaction  Gender HourlyRate  JobInvolvement  JobLevel                  JobRole  JobSatisfaction MaritalStatus MonthlyIncome  MonthlyRate  NUMCOMPANIESWORKED Over18 OverTime  PercentSalaryHike PerformanceRating  RelationshipSatisfaction StandardHours  StockOptionLevel TOTALWORKINGYEARS  TrainingTimesLastYear WORKLIFEBALANCE  YearsAtCompany YearsInCurrentRole  YearsSinceLastPromotion  YEARSWITHCURRMANAGER SameAsMonthlyIncome  DateBirth      Salary RoleDepartament  NUMBERCHILDREN RemoteWork
 31        No            NaN    480,0$        NaN               -30          2            NaN              1          524,0                        2       1         31               3         2  MaNufactuRINg dIrecTor                 1       Married        4306,0         4156                   1    NaN       No                 12               3,0                         2          80,0                 1              13,0                      5             1,0              13                NaN                        3                    12              4306,0       1992 1000000000$             NaN             NaN        Yes
 31        No            NaN    480,0$        NaN                 7          2            NaN              1          524,0                        2       1         31               3         2  maNUFActUrInG dIreCTOr                 1       Married        4306,0         4156                   1    NaN       No                 12               3,0                         2          80,0                 1              13,0                      5             1,0              13                NaN                        3                    12              4306,0       1992 1000000000$             NaN             NaN        Yes

----- Revisando empleado num 569,0 -----
Age Attrition BusinessTravel DailyRate               Department  DistanceFromHome  Education EducationField  employeecount employeenumber  EnvironmentSatisfaction  Gender HourlyRate  JobInvolvement  JobLevel   JobRole  JobSatisfaction MaritalStatus MonthlyIncome  MonthlyRate  NUMCOMPANIESWORKED Over18 OverTime  PercentSalaryHike PerformanceRating  RelationshipSatisfaction StandardHours  StockOptionLevel TOTALWORKINGYEARS  TrainingTimesLastYear WORKLIFEBALANCE  YearsAtCompany YearsInCurrentRole  YearsSinceLastPromotion  YEARSWITHCURRMANAGER SameAsMonthlyIncome  DateBirth      Salary                      RoleDepartament  NUMBERCHILDREN RemoteWork
 50        No  travel_rarely   1099,0$  Research & Development                -27          4  Life Sciences              1          569,0                       27       0         88               2         4  mANaGer                 3       Marreid       17046,0         9314                   0      Y       No                 15               3,0                         2           NaN                 1              28,0                      2             3,0              27                NaN                       15                     7             17046,0       1973 1000000000$  mANaGer  -  Research & Development              NaN       True
 50        No  travel_rarely   1099,0$  Research & Development                 29          4  Life Sciences              1          569,0                        2       0         88               2         4  mANagER                 3       Married       17046,0         9314                   0      Y       No                 15               3,0                         2           NaN                 1              28,0                      2             3,0              27                NaN                       15                     7             17046,0       1973 1000000000$  mANagER  -  Research & Development              NaN        Yes

----- Revisando empleado num 1044,0 -----
Age Attrition BusinessTravel DailyRate Department  DistanceFromHome  Education EducationField  employeecount employeenumber  EnvironmentSatisfaction  Gender    HourlyRate  JobInvolvement  JobLevel                JobRole  JobSatisfaction MaritalStatus MonthlyIncome  MonthlyRate  NUMCOMPANIESWORKED Over18 OverTime  PercentSalaryHike PerformanceRating  RelationshipSatisfaction StandardHours  StockOptionLevel TOTALWORKINGYEARS  TrainingTimesLastYear WORKLIFEBALANCE  YearsAtCompany YearsInCurrentRole  YearsSinceLastPromotion  YEARSWITHCURRMANAGER SameAsMonthlyIncome  DateBirth      Salary                  RoleDepartament  NUMBERCHILDREN RemoteWork
 33        No     non-travel   1038,0$     Sales                  8          1  Life Sciences              1         1044,0                        2       1 Not Available               2         1  sALES ReprEsentatiVE                 4           NaN           NaN        21437                   0      Y      NaN                 19               3,0                         4           NaN                 0               NaN                      2             2,0               2                NaN                        2                     2                 NaN       1990 1000000000$  sALES ReprEsentatiVE  -  Sales              NaN      False
 33        No     non-travel   1038,0$     Sales                  8          1  Life Sciences              1         1044,0                        2       1            88               2         1  sales repResENTaTiVE                 4           NaN           NaN        21437                   0      Y      NaN                 19               3,0                         4           NaN                 0               NaN                      2             2,0               2                NaN                        2                     2                 NaN       1990 1000000000$  sales repResENTaTiVE  -  Sales              NaN          0

----- Revisando empleado num 1053,0 -----
Age Attrition BusinessTravel DailyRate Department  DistanceFromHome  Education EducationField  employeecount employeenumber  EnvironmentSatisfaction  Gender HourlyRate  JobInvolvement  JobLevel              JobRole  JobSatisfaction MaritalStatus MonthlyIncome  MonthlyRate  NUMCOMPANIESWORKED Over18 OverTime  PercentSalaryHike PerformanceRating  RelationshipSatisfaction StandardHours  StockOptionLevel TOTALWORKINGYEARS  TrainingTimesLastYear WORKLIFEBALANCE  YearsAtCompany YearsInCurrentRole  YearsSinceLastPromotion  YEARSWITHCURRMANAGER SameAsMonthlyIncome  DateBirth      Salary RoleDepartament  NUMBERCHILDREN RemoteWork
 26       Yes            NaN    342,0$        NaN                 2          3  Life Sciences              1         1053,0                        1       0         57               3         1  rEsEaRCH SCIenTiSt                 1       Married        2042,0        15346                   6      Y      NaN                 14               3,0                         2           NaN                 1               6,0                      2             3,0               3                NaN                        1                     2              2042,0       1997 1000000000$             NaN             NaN          1
 26       Yes            NaN    342,0$        NaN                 2          3  Life Sciences              1         1053,0                        1       0         57               3         1  reSEArcH SCiEnTIst                 1       Married        2042,0        15346                   6      Y      NaN                 14               3,0                         2           NaN                 1               6,0                      2             3,0               3                NaN                        1                     2              2042,0       1997 1000000000$             NaN             NaN        Yes

----- Revisando empleado num 1069,0 -----
Age Attrition BusinessTravel DailyRate Department  DistanceFromHome  Education EducationField  employeecount employeenumber  EnvironmentSatisfaction  Gender HourlyRate  JobInvolvement  JobLevel             JobRole  JobSatisfaction MaritalStatus MonthlyIncome  MonthlyRate  NUMCOMPANIESWORKED Over18 OverTime  PercentSalaryHike PerformanceRating  RelationshipSatisfaction StandardHours  StockOptionLevel TOTALWORKINGYEARS  TrainingTimesLastYear WORKLIFEBALANCE  YearsAtCompany YearsInCurrentRole  YearsSinceLastPromotion  YEARSWITHCURRMANAGER SameAsMonthlyIncome  DateBirth      Salary RoleDepartament  NUMBERCHILDREN RemoteWork
 46        No            NaN    430,0$        NaN               -47          4        Medical              1         1069,0                       47       0         40               3         5  RESeArCH dIrEcTOR                 4           NaN           NaN        21445                   9    NaN       No                 17               3,0                         4          80,0                 2              23,0                      0             3,0               2                NaN                        2                     2                 NaN       1977 1000000000$             NaN             NaN       True
 46        No            NaN    430,0$        NaN                 1          4        Medical              1         1069,0                        4       0         40               3         5  rESEArCh DIrecTOR                 4           NaN           NaN        21445                   9    NaN       No                 17               3,0                         4          80,0                 2              23,0                      0             3,0               2                NaN                        2                     2                 NaN       1977 1000000000$             NaN             NaN          1

----- Revisando empleado num 1131,0 -----

In [103]:
# Unificamos los criterios de la columna RemoteWork a 1 y 0 para todas sus filas:

data['RemoteWork'] = data['RemoteWork'].replace({True: 1, False: 0})
data['RemoteWork'] = data['RemoteWork'].replace({'1': 1, '0': 0})
data['RemoteWork'] = data['RemoteWork'].replace({'Yes': 1, 'No': 0})
data['RemoteWork'] = data['RemoteWork'].replace({'True': 1, 'False': 0})

In [104]:
lista_empleados_remote_distinto = []

# Itera por cada dato y su respectivo booleano
for dato, bool in zip(employee_numbers_notnull , employee_numbers_notnull.duplicated()):
    
    # Si el booleano es True (el dato es un duplicado)
    if bool is True:
        # Asigna el resultado a una variable
        employee_data = data.loc[data['employeenumber'] == f'{dato}' , :]
        
        # Revisa si hay elementos √∫nicos en la columna RemoteWork
        remote_work_values = employee_data['RemoteWork'].unique()
        
        # Si hay m√°s de 1 elemento √∫nico en la columna
        if len(remote_work_values) > 1:
            # Guarda en una lista aquellos que cumplen la condici√≥n (duplicados con datos distintos en RemoteWork)
            lista_empleados_remote_distinto.append(dato)

print(f"El listado de empleados duplicados y con RemoteWork diferentes en el DataFrame es:")
print(f"{lista_empleados_remote_distinto}")
print(f"De los 104 duplicados, hay un total de {len(lista_empleados_remote_distinto)} que tienen datos de RemoteWork distintos")

El listado de empleados duplicados y con RemoteWork diferentes en el DataFrame es:
['1541,0', '1947,0', '1135,0', '1157,0', '1160,0', '1161,0', '1162,0', '1778,0', '1797,0', '1869,0', '1898,0', '1911,0', '424,0', '447,0', '455,0', '460,0', '470,0', '475,0', '478,0', '482,0', '495,0', '522,0', '530,0', '376,0', '381,0', '416,0', '430,0', '446,0', '454,0', '458,0', '476,0', '488,0', '500,0', '586,0', '621,0', '663,0', '717,0', '724,0', '747,0', '762,0', '789,0', '803,0', '823,0', '842,0', '913,0', '941,0', '966,0']
De los 104 duplicados, hay un total de 47 que tienen datos de RemoteWork distintos

In [105]:
for columna in salary_details.columns:
    print(f"Los datos √∫nicos de {columna} son:")
    print(f"{salary_details[columna].unique()}\n")
    
# Hay datos como nan$ que no capt√≥ como nulos en primera instancia por incluir $

Los datos √∫nicos de employeenumber son:
['162,0' '259,0' '319,0' ... '2012,0' '2023,0' '2040,0']

Los datos √∫nicos de DailyRate son:
['684,0$' '699,0$' '532,0$' '359,0$' '1319,0$' '117,0$' '1435,0$' '635,0$'
 '1276,0$' '840,0$' '247,0$' '1369,0$' '201,0$' '1360,0$' '692,0$'
 '1398,0$' '286,0$' '1402,0$' '819,0$' '884,0$' '1238,0$' '515,0$'
 '1223,0$' '202,0$' '928,0$' '607,0$' '266,0$' '429,0$' '589,0$' 'nan$'
 '1180,0$' '1282,0$' '776,0$' '665,0$' '526,0$' '1034,0$' '1403,0$'
 '1499,0$' '580,0$' '859,0$' '263,0$' '1376,0$' '885,0$' '1003,0$'
 '1321,0$' '394,0$' '1372,0$' '1333,0$' '228,0$' '737,0$' '823,0$'
 '667,0$' '301,0$' '573,0$' '1329,0$' '630,0$' '1063,0$' '1017,0$'
 '1296,0$' '939,0$' '1355,0$' '1448,0$' '200,0$' '1202,0$' '404,0$'
 '208,0$' '813,0$' '465,0$' '1189,0$' '1001,0$' '1394,0$' '161,0$'
 '288,0$' '682,0$' '1354,0$' '147,0$' '119,0$' '1413,0$' '452,0$' '334,0$'
 '1132,0$' '982,0$' '480,0$' '1099,0$' '672,0$' '1379,0$' '583,0$'
 '1492,0$' '1050,0$' '469,0$' '237,0$' '1440,0$' '1291,0$' '1157,0$'
 '1336,0$' '1224,0$' '735,0$' '1389,0$' '638,0$' '1240,0$' '194,0$'
 '1339,0$' '111,0$' '1469,0$' '470,0$' '1232,0$' '1249,0$' '798,0$'
 '549,0$' '570,0$' '541,0$' '164,0$' '1117,0$' '619,0$' '319,0$' '956,0$'
 '1245,0$' '1397,0$' '527,0$' '213,0$' '882,0$' '330,0$' '406,0$' '217,0$'
 '481,0$' '669,0$' '1465,0$' '685,0$' '1062,0$' '177,0$' '1199,0$'
 '648,0$' '412,0$' '282,0$' '770,0$' '601,0$' '855,0$' '332,0$' '1326,0$'
 '748,0$' '405,0$' '790,0$' '971,0$' '1370,0$' '750,0$' '880,0$' '678,0$'
 '1179,0$' '350,0$' '1266,0$' '574,0$' '189,0$' '310,0$' '722,0$'
 '1219,0$' '994,0$' '721,0$' '853,0$' '427,0$' '852,0$' '1334,0$'
 '1093,0$' '967,0$' '989,0$' '1195,0$' '1045,0$' '829,0$' '663,0$'
 '1300,0$' '1105,0$' '906,0$' '849,0$' '1275,0$' '1218,0$' '422,0$'
 '1274,0$' '1076,0$' '1207,0$' '430,0$' '933,0$' '1184,0$' '586,0$'
 '890,0$' '379,0$' '1425,0$' '1188,0$' '938,0$' '1053,0$' '248,0$'
 '796,0$' '174,0$' '408,0$' '977,0$' '536,0$' '135,0$' '1476,0$' '587,0$'
 '495,0$' '523,0$' '507,0$' '1055,0$' '1445,0$' '218,0$' '447,0$'
 '1029,0$' '674,0$' '538,0$' '740,0$' '1234,0$' '170,0$' '1130,0$'
 '584,0$' '918,0$' '792,0$' '611,0$' '1383,0$' '867,0$' '706,0$' '728,0$'
 '311,0$' '556,0$' '937,0$' '1125,0$' '444,0$' '911,0$' '585,0$' '1392,0$'
 '1005,0$' '1299,0$' '655,0$' '746,0$' '632,0$' '658,0$' '1467,0$'
 '1312,0$' '249,0$' '802,0$' '689,0$' '1395,0$' '1436,0$' '1496,0$'
 '1480,0$' '313,0$' '894,0$' '290,0$' '1084,0$' '1002,0$' '1242,0$'
 '1052,0$' '944,0$' '771,0$' '1416,0$' '1327,0$' '488,0$' '1385,0$'
 '666,0$' '1315,0$' '442,0$' '950,0$' '691,0$' '1018,0$' '559,0$' '318,0$'
 '144,0$' '1171,0$' '143,0$' '1178,0$' '1107,0$' '645,0$' '1485,0$'
 '1116,0$' '163,0$' '561,0$' '426,0$' '509,0$' '258,0$' '525,0$' '238,0$'
 '482,0$' '397,0$' '243,0$' '806,0$' '1442,0$' '929,0$' '827,0$' '703,0$'
 '294,0$' '314,0$' '654,0$' '501,0$' '954,0$' '1434,0$' '657,0$' '240,0$'
 '791,0$' '676,0$' '436,0$' '760,0$' '661,0$' '1085,0$' '154,0$' '1283,0$'
 '616,0$' '498,0$' '530,0$' '805,0$' '903,0$' '1229,0$' '566,0$' '1441,0$'
 '153,0$' '1066,0$' '145,0$' '1109,0$' '124,0$' '300,0$' '1366,0$'
 '857,0$' '1204,0$' '1082,0$' '203,0$' '1308,0$' '718,0$' '593,0$'
 '1384,0$' '1361,0$' '1146,0$' '1316,0$' '363,0$' '1103,0$' '920,0$'
 '694,0$' '1429,0$' '531,0$' '621,0$' '604,0$' '325,0$' '1030,0$' '524,0$'
 '943,0$' '1009,0$' '817,0$' '930,0$' '1147,0$' '652,0$' '337,0$'
 '1136,0$' '326,0$' '377,0$' '1038,0$' '1490,0$' '1246,0$' '224,0$'
 '441,0$' '898,0$' '1313,0$' '1015,0$' '1387,0$' '1302,0$' '602,0$'
 '772,0$' '809,0$' '786,0$' '921,0$' '717,0$' '979,0$' '953,0$' '244,0$'
 '196,0$' '303,0$' '1092,0$' '261,0$' '1422,0$' '1137,0$' '511,0$'
 '1396,0$' '1096,0$' '1169,0$' '1239,0$' '157,0$' '754,0$' '1303,0$'
 '697,0$' '116,0$' '557,0$' '582,0$' '704,0$' '613,0$' '419,0$' '477,0$'
 '1211,0$' '505,0$' '269,0$' '553,0$' '1277,0$' '302,0$' '975,0$'
 '1318,0$' '881,0$' '466,0$' '945,0$' '433,0$' '991,0$' '1083,0$' '136,0$'
 '333,0$' '1462,0$' '1131,0$' '1023,0$' '1065,0$' '1115,0$' '1479,0$'
 '304,0$' '1368,0$' '828,0$' '799,0$' '142,0$' '446,0$' '254,0$' '1410,0$'
 '883,0$' '121,0$' '1343,0$' '490,0$' '1400,0$' '1332,0$' '1200,0$'
 '1102,0$' '1328,0$' '548,0$' '1214,0$' '120,0$' '841,0$' '1033,0$'
 '1452,0$' '1268,0$' '307,0$' '797,0$' '555,0$' '1377,0$' '210,0$'
 '483,0$' '575,0$' '1311,0$' '759,0$' '891,0$' '317,0$' '688,0$' '195,0$'
 '622,0$' '646,0$' '719,0$' '1012,0$' '1278,0$' '1222,0$' '1231,0$'
 '462,0$' '231,0$' '1089,0$' '1262,0$' '439,0$' '528,0$' '647,0$'
 '1097,0$' '942,0$' '966,0$' '168,0$' '299,0$' '999,0$' '1498,0$'
 '1439,0$' '1111,0$' '1174,0$' '172,0$' '401,0$' '866,0$' '571,0$'
 '1342,0$' '995,0$' '118,0$' '990,0$' '241,0$' '1470,0$' '492,0$'
 '1040,0$' '1320,0$' '146,0$' '1153,0$' '185,0$' '1297,0$' '1064,0$'
 '1351,0$' '468,0$' '1273,0$' '1141,0$' '1488,0$' '653,0$' '1225,0$'
 '1217,0$' '1127,0$' '1427,0$' '702,0$' '926,0$' '878,0$' '896,0$'
 '1401,0$' '675,0$' '1070,0$' '496,0$' '390,0$' '1220,0$' '1124,0$'
 '1046,0$' '267,0$' '443,0$' '1287,0$' '1420,0$' '562,0$' '650,0$'
 '141,0$' '715,0$' '376,0$' '932,0$' '471,0$' '180,0$' '1265,0$' '1075,0$'
 '1086,0$' '152,0$' '974,0$' '788,0$' '192,0$' '150,0$' '1167,0$' '206,0$'
 '736,0$' '322,0$' '683,0$' '1475,0$' '560,0$' '115,0$' '888,0$' '671,0$'
 '567,0$' '148,0$' '581,0$' '371,0$' '1181,0$' '1253,0$' '370,0$'
 '1194,0$' '572,0$' '355,0$' '783,0$' '155,0$' '508,0$' '642,0$' '1382,0$'
 '1037,0$' '1120,0$' '374,0$' '287,0$' '591,0$' '670,0$' '1346,0$'
 '103,0$' '673,0$' '705,0$' '1459,0$' '1443,0$' '1142,0$' '664,0$'
 '432,0$' '1353,0$' '489,0$' '807,0$' '1280,0$' '957,0$' '542,0$' '216,0$'
 '1150,0$' '364,0$' '1256,0$' '440,0$' '713,0$' '140,0$' '629,0$' '328,0$'
 '472,0$' '905,0$' '1151,0$' '644,0$' '992,0$' '1323,0$' '818,0$'
 '1431,0$' '976,0$' '832,0$' '916,0$' '1247,0$' '128,0$' '1158,0$'
 '996,0$' '1449,0$' '636,0$' '889,0$' '106,0$' '723,0$' '1482,0$' '738,0$'
 '1192,0$' '1309,0$' '544,0$' '641,0$' '756,0$' '895,0$' '1261,0$'
 '329,0$' '1362,0$' '1371,0$' '821,0$' '1381,0$' '1473,0$' '296,0$'
 '1349,0$' '986,0$' '413,0$' '988,0$' '1474,0$' '232,0$' '1236,0$'
 '1112,0$' '204,0$' '913,0$' '810,0$' '693,0$' '316,0$' '381,0$' '775,0$'
 '804,0$' '1090,0$' '346,0$' '725,0$' '182,0$' '384,0$' '1325,0$'
 '1258,0$' '1041,0$' '625,0$' '1418,0$' '1269,0$' '395,0$' '341,0$'
 '500,0$' '1454,0$' '617,0$' '1122,0$' '1198,0$' '188,0$' '335,0$'
 '461,0$' '1134,0$' '138,0$' '1206,0$' '109,0$' '277,0$' '265,0$' '342,0$'
 '1186,0$' '769,0$' '1176,0$' '1091,0$' '618,0$' '970,0$' '984,0$'
 '793,0$' '1182,0$' '603,0$' '874,0$' '367,0$' '199,0$' '1457,0$'
 '1421,0$' '1450,0$' '1212,0$' '1010,0$' '131,0$' '193,0$' '640,0$'
 '848,0$' '1138,0$' '256,0$' '935,0$' '458,0$' '662,0$' '499,0$' '949,0$'
 '383,0$' '1255,0$' '1221,0$' '981,0$' '1495,0$' '1193,0$' '467,0$'
 '271,0$' '410,0$' '1288,0$' '1108,0$' '437,0$' '457,0$' '634,0$' '546,0$'
 '711,0$' '448,0$' '365,0$' '763,0$' '486,0$' '392,0$' '727,0$' '741,0$'
 '552,0$' '506,0$' '1456,0$' '160,0$' '897,0$' '600,0$' '1054,0$' '428,0$'
 '343,0$' '1216,0$' '207,0$' '280,0$' '414,0$' '836,0$' '592,0$' '219,0$'
 '1079,0$' '1251,0$' '1168,0$' '1444,0$' '1154,0$' '234,0$' '529,0$'
 '1322,0$' '924,0$' '134,0$' '755,0$' '253,0$' '922,0$' '1365,0$' '306,0$'
 '1271,0$' '1404,0$' '1391,0$' '1464,0$' '1330,0$' '773,0$' '902,0$'
 '107,0$' '504,0$' '1358,0$' '824,0$' '594,0$' '734,0$' '766,0$' '431,0$'
 '1213,0$' '1373,0$' '1324,0$' '1123,0$' '391,0$' '125,0$' '1357,0$'
 '626,0$' '132,0$' '871,0$' '1031,0$' '1145,0$' '854,0$' '1411,0$'
 '252,0$' '833,0$' '1210,0$' '1463,0$' '812,0$' '1162,0$' '845,0$'
 '1144,0$' '156,0$' '464,0$' '1305,0$' '983,0$' '534,0$' '1306,0$'
 '1094,0$' '558,0$' '959,0$' '782,0$' '362,0$' '268,0$' '167,0$' '1243,0$'
 '720,0$' '868,0$' '1252,0$' '781,0$' '1272,0$' '129,0$' '1069,0$'
 '289,0$' '955,0$' '660,0$' '415,0$' '309,0$' '130,0$' '862,0$' '1098,0$'
 '969,0$' '373,0$' '599,0$' '968,0$' '830,0$' '1423,0$' '516,0$' '598,0$'
 '104,0$' '479,0$' '474,0$' '264,0$' '1059,0$' '563,0$' '1259,0$' '369,0$'
 '543,0$' '964,0$' '176,0$' '181,0$' '211,0$' '590,0$' '305,0$' '478,0$'
 '1294,0$' '1128,0$' '726,0$' '352,0$' '1172,0$' '605,0$' '1337,0$'
 '105,0$']

Los datos √∫nicos de HourlyRate son:
['51' '65' '58' '82' '45' '99' '91' '64' '55' '68' '49' '61' '79' '31'
 '69' '48' '80' '74' '98' '59' '33' '56' '66' '57' '53' '87' '81' '84'
 '32' '41' '92' '47' 'Not Available' '43' '86' '30' '42' '88' '96' '67'
 '62' '72' '78' '89' '52' '50' '90' '37' '94' '76' '60' '46' '83' '100'
 '40' '97' '54' '75' '39' '85' '63' '44' '93' '36' '35' '73' '71' '70'
 '38' '77' '95' '34']

Los datos √∫nicos de MonthlyRate son:
[ 6462  5678  4933 ... 15302 26956 16642]

Los datos √∫nicos de MonthlyIncome son:
['19537,0' '19999,0' '19232,0' '17169,0' nan '17174,0' '16595,0' '19973,0'
 '13402,0' '13206,0' '19545,0' '18041,0' '19246,0' '10748,0' '16752,0'
 '6201,0' '19845,0' '4001,0' '10447,0' '16064,0' '3210,0' '10266,0'
 '10475,0' '6162,0' '4721,0' '4615,0' '16959,0' '10306,0' '5406,0'
 '5902,0' '10855,0' '5914,0' '6646,0' '13973,0' '13320,0' '6687,0'
 '4735,0' '13872,0' '19045,0' '16015,0' '9613,0' '11510,0' '4306,0'
 '17046,0' '5067,0' '3692,0' '19847,0' '2308,0' '5747,0' '10422,0'
 '6347,0' '2348,0' '3072,0' '12490,0' '8020,0' '17068,0' '8943,0'
 '19272,0' '5577,0' '2691,0' '7403,0' '8823,0' '3579,0' '17779,0'
 '18213,0' '13577,0' '19190,0' '17123,0' '19187,0' '10008,0' '7988,0'
 '7083,0' '4723,0' '3407,0' '2929,0' '12031,0' '15427,0' '5126,0' '9619,0'
 '5010,0' '19033,0' '10400,0' '2793,0' '5674,0' '19197,0' '8412,0'
 '3348,0' '5309,0' '7654,0' '12808,0' '6586,0' '2519,0' '17099,0'
 '13120,0' '3131,0' '4444,0' '6674,0' '9852,0' '17861,0' '7446,0'
 '13757,0' '16598,0' '4285,0' '10124,0' '9714,0' '9924,0' '11245,0'
 '3069,0' '9241,0' '6472,0' '3055,0' '8321,0' '3143,0' '8578,0' '4197,0'
 '9888,0' '13341,0' '5677,0' '2909,0' '9526,0' '6825,0' '4424,0' '5441,0'
 '6074,0' '6146,0' '6172,0' '4668,0' '5605,0' '4319,0' '3564,0' '6261,0'
 '6804,0' '19436,0' '5828,0' '2455,0' '5055,0' '4682,0' '5257,0' '2119,0'
 '5974,0' '3034,0' '13212,0' '8392,0' '4051,0' '4805,0' '2741,0' '5337,0'
 '9434,0' '5396,0' '11159,0' '4960,0' '8793,0' '19189,0' '2216,0'
 '11713,0' '5304,0' '11103,0' '6632,0' '7587,0' '4335,0' '5980,0' '4244,0'
 '5228,0' '2700,0' '2366,0' '2329,0' '4294,0' '6725,0' '10325,0' '4447,0'
 '10845,0' '5472,0' '6385,0' '7525,0' '3660,0' '8740,0' '13499,0' '3491,0'
 '5220,0' '10252,0' '19740,0' '6209,0' '7094,0' '4534,0' '8500,0' '4639,0'
 '5363,0' '4081,0' '3578,0' '17328,0' '10793,0' '10851,0' '10466,0'
 '2362,0' '6439,0' '5769,0' '4385,0' '4066,0' '5206,0' '2655,0' '2570,0'
 '4502,0' '4968,0' '5147,0' '2718,0' '3539,0' '5468,0' '5813,0' '9667,0'
 '5154,0' '5675,0' '7314,0' '5098,0' '13570,0' '6712,0' '9991,0' '10248,0'
 '10938,0' '2593,0' '11878,0' '8095,0' '16856,0' '4537,0' '17924,0'
 '4014,0' '12742,0' '3376,0' '10482,0' '4249,0' '6549,0' '14411,0'
 '19586,0' '8237,0' '3211,0' '16704,0' '4774,0' '4568,0' '5993,0' '6499,0'
 '3452,0' '6397,0' '2725,0' '3622,0' '6180,0' '6274,0' '4381,0' '2559,0'
 '5488,0' '2514,0' '3196,0' '3420,0' '4087,0' '5368,0' '12936,0' '4221,0'
 '4963,0' '4200,0' '5006,0' '7639,0' '6502,0' '13525,0' '6349,0' '6380,0'
 '3102,0' '4556,0' '4230,0' '4859,0' '6322,0' '10761,0' '2973,0' '5204,0'
 '17399,0' '16885,0' '4323,0' '5155,0' '2936,0' '18789,0' '4883,0'
 '2029,0' '2996,0' '9278,0' '4162,0' '8853,0' '4876,0' '2141,0' '7756,0'
 '3936,0' '6842,0' '3989,0' '4930,0' '3702,0' '2705,0' '4448,0' '2379,0'
 '5487,0' '2810,0' '8938,0' '9936,0' '5454,0' '18740,0' '5473,0' '13503,0'
 '13549,0' '18172,0' '2774,0' '9439,0' '5265,0' '3815,0' '2389,0' '4000,0'
 '17584,0' '5661,0' '4869,0' '4649,0' '10496,0' '2768,0' '3408,0' '3755,0'
 '2187,0' '4258,0' '5326,0' '5485,0' '2782,0' '17639,0' '6062,0' '6288,0'
 '3424,0' '4194,0' '2532,0' '5666,0' '13726,0' '4107,0' '3597,0' '4115,0'
 '6272,0' '2517,0' '3904,0' '9204,0' '4373,0' '2064,0' '2430,0' '4877,0'
 '3760,0' '2013,0' '2974,0' '2766,0' '3377,0' '4213,0' '6513,0' '4284,0'
 '2226,0' '5561,0' '2144,0' '5373,0' '2897,0' '5321,0' '5410,0' '4850,0'
 '2001,0' '4404,0' '3944,0' '2960,0' '18947,0' '6465,0' '2683,0' '2014,0'
 '3441,0' '13664,0' '5021,0' '18844,0' '4739,0' '10650,0' '4317,0'
 '2024,0' '3058,0' '3929,0' '4425,0' '2328,0' '2657,0' '5940,0' '2622,0'
 '3212,0' '2911,0' '6931,0' '2176,0' '3230,0' '18665,0' '2789,0' '6410,0'
 '4941,0' '3983,0' '2904,0' '2696,0' '2174,0' '6755,0' '10965,0' '2543,0'
 '19406,0' '6538,0' '2258,0' '2218,0' '2654,0' '11935,0' '2546,0' '3894,0'
 '4262,0' '10527,0' '2400,0' '3681,0' '3447,0' '19513,0' '2659,0' '8847,0'
 '2045,0' '4851,0' '8120,0' '4577,0' '5405,0' '3708,0' '13770,0' '2297,0'
 '2450,0' '4342,0' '2572,0' '6500,0' '3149,0' '5324,0' '4382,0' '2553,0'
 '5933,0' '4403,0' '10934,0' '2022,0' '4256,0' '3580,0' '2899,0' '5562,0'
 '2377,0' '2404,0' '2799,0' '2811,0' '4377,0' '4240,0' '4227,0' '3917,0'
 '4969,0' '2042,0' '2821,0' '9957,0' '2207,0' '2070,0' '2791,0' '8224,0'
 '2610,0' '5731,0' '2539,0' '2376,0' '19081,0' '2743,0' '4538,0' '3867,0'
 '2080,0' '2096,0' '4627,0' '2302,0' '5071,0' '10596,0' '5467,0' '2394,0'
 '3629,0' '9362,0' '3229,0' '16422,0' '5647,0' '4400,0' '2066,0' '5486,0'
 '3162,0' '6651,0' '4898,0' '3180,0' '11244,0' '4069,0' '6392,0' '4855,0'
 '3312,0' '3117,0' '15202,0' '2580,0' '2166,0' '4374,0' '5505,0' '2587,0'
 '15972,0' '2305,0' '3433,0' '3477,0' '3907,0' '3445,0' '2760,0' '6294,0'
 '13116,0' '3591,0' '2105,0' '3902,0' '2662,0' '2062,0' '5507,0' '8103,0'
 '3978,0' '5399,0' '10448,0' '4440,0' '2660,0' '3375,0' '2269,0' '4787,0'
 '2809,0' '10854,0' '2571,0' '6142,0' '2496,0' '3419,0' '2501,0' '2566,0'
 '3920,0' '13964,0' '6540,0' '2244,0' '16184,0' '4233,0' '14814,0'
 '17159,0' '2318,0' '3617,0' '2684,0' '19237,0' '4422,0' '2552,0' '2678,0'
 '5171,0' '11916,0' '9380,0' '5878,0' '2468,0' '4127,0' '2148,0' '3886,0'
 '6667,0' '2090,0' '2086,0' '1951,0' '3022,0' '9724,0' '3388,0' '3038,0'
 '2322,0' '2926,0' '4505,0' '2835,0' '6553,0' '6673,0' '13591,0' '2177,0'
 '19517,0' '19202,0' '10048,0' '2723,0' '6644,0' '3161,0' '1420,0'
 '1200,0' '5238,0' '9985,0' '15992,0' '2370,0' '6781,0' '6653,0' '2851,0'
 '5258,0' '2476,0' '2285,0' '3448,0' '4558,0' '1702,0' '2564,0' '5070,0'
 '3780,0' '9824,0' '1878,0' '2340,0' '2127,0' '2033,0' '9602,0' '16627,0'
 '2083,0' '1009,0' '7861,0' '2642,0' '5121,0' '2694,0' '5094,0' '2274,0'
 '2314,0' '2380,0' '2008,0' '10552,0' '2259,0' '2413,0' '2121,0' '2479,0'
 '13194,0' '4163,0' '2600,0' '18303,0' '4777,0' '1052,0' '2461,0' '2596,0'
 '4728,0' '7351,0' '4766,0' '2827,0' '2853,0' '2290,0' '2107,0' '2210,0'
 '13191,0' '18265,0' '1118,0' '2372,0' '2838,0' '18061,0' '1611,0'
 '4768,0' '1274,0' '2561,0' '1563,0' '6388,0' '8376,0' '4841,0' '2074,0'
 '2972,0' '6815,0' '2690,0' '17567,0' '1569,0' '4187,0' '3306,0' '1393,0'
 '10883,0' '2862,0' '6735,0' '9756,0' '5294,0' '2437,0' '4071,0' '2956,0'
 '4648,0' '2804,0' '2439,0' '2856,0' '2933,0' '1091,0' '5151,0' '2863,0'
 '2858,0' '1129,0' '19431,0']

Los datos √∫nicos de PercentSalaryHike son:
[13 14 11 19 12 25 16 17 22 23 20 15 21 24 18]

Los datos √∫nicos de StockOptionLevel son:
[0 1 2 3]

In [112]:
data['DailyRate'] = data['DailyRate'].str.replace('$', '')

/tmp/ipykernel_23737/265929712.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['DailyRate'] = data['DailyRate'].str.replace('$', '')

In [111]:
data['DailyRate'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
1609    False
1610    False
1611    False
1612    False
1613    False
Name: DailyRate, Length: 1614, dtype: bool

In [108]:
print(f"El % de nulos por cada columna es:")
print(f"{round(salary_details.isnull().sum()/salary_details.shape[0]*100 , 2)}")

print(f"\nObservaciones:")
print(f"'MonthlyIncome' demasiado elevado --> Necesitamos encontrar la manera de calcular los ingresos mensuales que faltan")
print(f"'employeenumber' demasiado elevado --> Necesitamos encontrar la manera de rellenar con IDs aquellos a los que les falten")

El % de nulos por cada columna es:
employeenumber       26.70
DailyRate             0.00
HourlyRate            0.00
MonthlyRate           0.00
MonthlyIncome        52.23
PercentSalaryHike     0.00
StockOptionLevel      0.00
dtype: float64

Observaciones:
'MonthlyIncome' demasiado elevado --> Necesitamos encontrar la manera de calcular los ingresos mensuales que faltan
'employeenumber' demasiado elevado --> Necesitamos encontrar la manera de rellenar con IDs aquellos a los que les falten