In [65]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [78]:
data = pd.read_csv ('../../files/HR_RAW_DATA.csv', index_col = 0)

In [79]:
# No se ha incluido la columna 'SameAsMonthlyIncome' ya que es exactamente igual a MonthlyIncome
salary_details = data.loc[: , ['DailyRate', 'HourlyRate' , 'MonthlyRate' , 'MonthlyIncome' , 'PercentSalaryHike' , 'StockOptionLevel']]

In [80]:
# Reemplaza las strings de 'nan' por valores NaN en DAILYRATE
salary_details['DailyRate'] = salary_details['DailyRate'].replace({'nan$': float('NaN')})

# Reemplaza los símbolos '$' por '' y ',' por '.' en DAILYRATE
dict_remplazo = {'\$' : '' , ',0' : ''}
salary_details['DailyRate'] = salary_details['DailyRate'].replace(dict_remplazo , regex=True)

# Reemplaza las ',' por '.' en MONTHLYINCOME
salary_details['MonthlyIncome'] = salary_details['MonthlyIncome'].str.replace(',0' , '')

# Reemplaza las strings de 'Not Available' por valores NaN
salary_details['HourlyRate'] = salary_details['HourlyRate'].replace({'Not Available': float('NaN')})

In [88]:
# Itera sobre cada columna en el DataFrame
for columna in salary_details.columns:
    
    # Convierte los valores de la columna a números flotantes
    # Establece como NaN aquellos valores que no pueden ser convertidos (errores = coerce)
    salary_details[columna] = pd.to_numeric(salary_details[columna], errors='coerce', downcast='float')
    
    # Convierte los valores de la columna a enteros 
    # Mantiene los valores NaN como NaN
    salary_details[columna] = salary_details[columna].astype('Int64', errors='ignore')

In [91]:
salary_details.head(10)

,DailyRate,HourlyRate,MonthlyRate,MonthlyIncome,PercentSalaryHike,StockOptionLevel
0,684,51,6462,19537,13,0
1,699,65,5678,19999,14,1
2,532,58,4933,19232,11,0
3,359,82,26703,17169,19,2
4,1319,45,7739,<NA>,12,1
5,117,58,2437,17174,11,1
6,1435,99,2354,<NA>,11,0
7,635,99,24532,<NA>,25,0
8,1276,91,5626,16595,16,1
9,840,64,3735,<NA>,17,1

In [92]:
salary_details.to_csv('../../files/salarydetails.csv')